<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>
    <link rel="icon" href="/images/mask.png">
      <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="main">
        {{>header}}
       this is the {{title}} page <br>
       Use this page to make the weather website 
       <br> 
       <form>
           <input placeholder="Enter the location">
           <button>
               Search
           </button>
       </form> 
       <p></p>
    </div>
       
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>